<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="py-3 px-6 text-left whitespace-nowrap">
    <%= link_to user.name, user %>
  </td>
  <td class="py-3 px-6 text-left whitespace-nowrap">
    <%= link_to user.email, user %>
  </td>
</tr>
