<% provide :title,  t("feed") %>
<section class="w-full md:w-2/3 mx-auto flex flex-col items-center px-3">
  <%= render "shared/error_messages" %>
  <% if @posts.empty? %>
    <p class="text-center text-gray-500 text-lg mt-8">
      <%= t("no_posts") %>
    </p>
  <% else %>
    <%= render @posts, show_all: false, render_tools: false %>
    <%== @pagy.pages <= 1 ? "" :  pagy_nav(@pagy)  %>
  <% end %>
</section>
